body{
    font-family: "Segoe UI";
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("bg.png");
    background-size: 1400px 750px;
    background-repeat: no-repeat;

}

div{
  margin: 0;
    padding: 0;
}

nav{
  padding-top: 30px;
}


#logo{
font-size: 25px;
color: #1b70ff;
float: left;
font-weight: bold;
vertical-align: top;
padding-left: 50px;


}

button{
  font-family: 'Roboto';
  
}

#nav-right{
    font-size: 10px;
    color: #636363;
    font-family: "Segoe UI";
    float: right;
border: none;
padding-right: 90px;
    
}

select{
  border: none;
  background-color: transparent;
}

#login{
  margin-left: 20px;
    width: 110px;
height: 35px;
border-radius: 5px;
background-color: rgba(0, 0, 0, 0);
border: 1px solid #a3a2a2;
}

#headings{
    font-size: 25px;
color: #4f4f4f;
font-family: "Segoe UI";
font-weight: bold;
text-align: center;
}

#h1{
    font-size: 16px;
color: #a9a9a9;
}

#h2{
    font-size: 16px;
}

#create{
    width: 200px;
height: 42px;
border-radius: 7px;
filter: drop-shadow(0px 13px 8.5px rgba(138, 164, 248, 0.28));
background-color: #1b70ff;
font-size: 13px;
color: #ffffff;
font-family: "Roboto";
font-weight: 400;
margin-bottom: 40px;
}

#base{
    
    
    margin: 0;
    padding: 0;
}

#baseicon{
    display: inline-block;
    font-size: 10px;
    color: #636363;
    padding: 0px 0px 70px 70px;
    

}

#h3{
    font-size: 22px;
color: #000000;
font-family: "Segoe UI";
font-weight: bold;
text-align: center;

}

hr{
    align-content: center;
    width: 5%;
    
border-color: #666666;
}

#steps{
    column-count: 3;
    column-rule-width: 1px;
  column-rule-style: solid;
  column-rule-color: #4f4f4f;
}

table, th, td, tr {
   align-items: center;
    border-collapse: collapse;
    width: 700px;
height: 300px;
border-radius: 15px;
background-color: #ffffff;
border: 0.5px solid #bbbaba;
font-size: 15px;
font-family: "Roboto";
font-weight: 500;
  }

table.center{
      margin-left: auto;
      margin-right: auto;
  }

#s-icon{
    height: 50px;
    width: 50px;
    margin-left: auto;
      margin-right: auto;
    
}

#table{
    text-align: center;
    padding-bottom: 110px;
}

footer{
  
height: 409px;
width: auto;
background-color: #373636;

}

#footdiv{
  margin-left: 450px;
}
#footerinput{
    font-size: 12px;
    
color: #ffffff;
font-family: "Roboto";
font-weight: 400;
margin-top: 20px;
width: 307px;
height: 47px;
background-color: #474747;
margin-right: 10px;

}

input::placeholder{
  color: #ffffff;
} 

#footerbutton{
    width: 100px;
    margin-top: 20px;
height: 47px;
border-radius: 3px;
background-color: #434343;
border: 2px solid #a1a1a1;
font-size: 12px;
color: #ffffff;
font-family: "Roboto";
font-weight: 400;
text-align: center;
margin-right: 70px;
}

.benefits{
    
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 200px;
    justify-content: center;
}

#faq{
    padding-top: 30px;
    padding-bottom: 300px;
}

.tab {
    overflow: hidden;
    display: flex;
  justify-content: center;
  text-align: left;
    background-color: #ffffff;
  }
  
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-width: 1000px;
    border-bottom: 1.5px solid #8bc8e4;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #7e7e7e;
  }
  
  
  .tab button.active {
    background-color: #1b70ff;
    color: #ffffff;
    border-radius: 7px 7px 0px 0px;
  }
  
  
  .tabcontent {
    text-align: left;
    
 
  }

  .tabcontent {
    animation: fadeEffect 1s; 
  }
  
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }



